[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
opencv-python = "*"
tensorflow = "2.12.0"
numpy = "1.23.5"
python-dotenv = "1.0.0"


[dev-packages]

[requires]
python_version = "3.11"
