<!DOCTYPE html>
<html>
  <head>
    <title>Emotion Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    
  </head>
  
  <body>
    <div class="container">
      <header>
        <h1>Emotion Detection: How's your mood today?</h1>
      </header>
    
      <main>{% block container %} {% endblock %}</main>
      
      <footer>
        <p>
          Source code available at
          <a
            href="https://github.com/software-students-fall2023/4-containerized-app-exercise-ayrayr"
            >Github.
          </a>
        </p>
      </footer>

    </div>
  </body>


</html>